<h2>Upload Successful</h2>
<p><strong>DO NOT click Insert! Follow instructions below</strong></p>
<p>
	<%= link_to image_tag(@uploaded_upload.public_filename(:thumb)), @uploaded_upload.public_filename, :onclick => 'window.open(\'' + @uploaded_upload.public_filename + '\');', :onmousedown => 'return false;' %></li>
</p>
<p style="font-size:smaller;">Image will not be distorted when inserted</p>
<p>Copy the text below, put it in the other tab's <strong>Image URL</strong> box</p>
<input id="image_path" type="text" value="<%= @uploaded_upload.public_filename %>" />

<script src="http://www.google.com/jsapi"></script>
<script>
	google.load('jquery','1.3.1');
</script>

<%= javascript_include_tag 'image_uploader' %>