html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin:0; padding:0; border:0; outline:0; font-size:100%; vertical-align:baseline; background:transparent; }
body { line-height:1; }
ol, ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
/* remember to define focus styles! */
:focus { outline:0; }
/* remember to highlight inserts somehow! */
ins { text-decoration:none; }
del { text-decoration:line-through; }
/* tables still need 'cellspacing="0"' in the markup */
table { border-collapse:collapse; border-spacing:0; }
.hide{ text-indent:-9999px; outline:0; display:block; }
.clear{ clear:both; }
.menu-x li{ float:left; }
a:link, a:visited{ text-decoration:none; }
a:hover{ text-decoration:underline; }
a img{ border:0; }
body{ font:normal 62.5% Verdana, Arial, sans-serif; background:#343434; color:#fff; text-align:center; padding:10px; }
h1#logo{ width:408px; height:18px; margin:10px auto; background:url(/images/logo.gif) no-repeat; }
p{ font-size:1.6em; }
p.whisper{ font-size:1em; }